Constants.xcodeproj/project.pbxproj
Constants.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Constants.xcodeproj/project.xcworkspace/xcuserdata/alexeyefimov.xcuserdatad/UserInterfaceState.xcuserstate
Constants.xcodeproj/xcuserdata/alexeyefimov.xcuserdatad/xcschemes/Constants.xcscheme
Constants.xcodeproj/xcuserdata/alexeyefimov.xcuserdatad/xcschemes/xcschememanagement.plist
